.header {
    width: 100%;
    background-color: #f7f7f7;
    color: #101828;
    border-bottom: 1px solid #f2f4f7;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 64px;
    max-height: 72px;
}

.navigation {
    list-style-type: none;
    margin-left: 450px;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: #101828;
    font: 500 16px / 1.5;
    text-align: center;
    color: #101828;
}

.navigation li a:hover {
    color: #d84343;
}