.header {
    display: flex;
    align-items: center;
    padding: 24px 64px;
    background-color: #f7f7f7;
    color: #101828;
}

.logo {
    margin-right: 450px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: #101828;
    font: 500 16px / 1.5;
    text-align: center;
    color: #101828;
}

.navigation li a:hover {
    color: #d84343;
}