.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font: 500 16px / 1.5;
    letter-spacing: -0.01em;
    color: #101828;
    border: 1px solid #dadde1;
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    background-color: #fff;
    margin: 40px auto 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.loadMore:hover {
    border: 1px solid #d84343;
}