.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    width: 100%;
    height: 368px;
    background: #fff;
}

.name {
    font: 600 24px / 1.33333;
    color: #101828;
    margin-bottom: 8px;
}

.imageWrapper {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.priceWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.heartBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.heartIcon {
    display: block;
    fill: none;
    stroke: #101828;
    stroke-width: 2px;
    transition: all 0.3s ease;
}

.heartIconActive {
    fill: #E44848;
    stroke: #E44848;
}

.meta {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.location {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    font-size: 16px;
    color: #101828;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin-bottom: 24px;

    /* Обрізання тексту до 1 рядка з трикрапкою */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 524px;
}

.featuresList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
}

.featureItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background: #f2f4f7;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
}

.showMoreBtn {
    display: inline-block;
    font: 500 16px / 1.5 "Inter", sans-serif;
    letter-spacing: -0.01em;
    color: #fff;
    margin-top: 24px;
    padding: 16px 40px;
    width: 166px;
    height: 56px;
    background-color: #e44848;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.showMoreBtn:hover {
    background-color: #d84343;
}