.main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.title {
    font: 600 24px / 1.33333 "Inter", sans-serif;
    color: #101828;
    margin-bottom: 8px;
}

.meta {
    display: flex;
    gap: 16px;
    font-size: 16px;
    margin-bottom: 16px;
}

.price {
    font: 600 24px / 1.33333 "Inter", sans-serif;
    color: #101828;
    margin-bottom: 28px;
}

.gallery {
    display: flex;
    gap: 16px;
    margin-bottom: 28px;
    overflow-x: auto;
    /* На випадок багатьох фото */
    flex-wrap: wrap;
}

.imageWrapper {
    width: 290px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    line-height: 1.5;
    color: #475467;
    max-width: 100%;
    margin-bottom: 44px;
}